@model DreamJob.BusinessLogic.Candidates.ViewModels.DisplayCandidatesViewModel;

<div class="row">
    @for (int index = 0; index < Model.Candidates.Count; index++)
{
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name : @Model.Candidates[index].Surname  @Model.Candidates[index].FirstName</h5>
                    <p class="card-text">Description : @Model.Candidates[index].CandidateDescription</p>
                    <p class="card-text">Email : @Model.Candidates[index].Email</p>
                    <p class="card-text">LinkedIn : @Model.Candidates[index].Linkedin</p>
      </div>
    </div>
  </div>
}
</div>


<div>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    }

    @*Button for Previous*@

    <button type="button" id="prev" class="btn btn-primary @(prevDisabled)" onclick="window.location.href = '@Url.Action("GetAllCandidates",
    new { pageNumber = Model.PageIndex - 1})'">
        <i class="bi bi-arrow-left"></i>Previous
    </button>


    @*Button for Next*@

    <button type="button" id="next" class="btn btn-primary @(nextDisabled)" onclick="window.location.href = '@Url.Action("GetAllCandidates",
    new { pageNumber = Model.PageIndex + 1})'">
        Next<i class="bi bi-arrow-right"></i>
    </button>

</div>
