@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json;
@model DreamJob.BusinessLogic.Candidates.ViewModels.DisplayCandidatesViewModel
<h1> Discover your candidates </h1>
<div id="candidateCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        @for (int index = 0; index < Model.Candidates.Count; index++)
        {
            <div class="carousel-item @(index == 0 ? "active" : "")">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Name : @Model.Candidates[index].Surname  @Model.Candidates[index].FirstName</h5>
                        <h5 class="card-title">Applied for @Model.Candidates[index].JobOffer.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Description : @Model.Candidates[index].CandidateDescription</h6>
                        <p class="card-text">LinkedIn : @Model.Candidates[index].Linkedin</p>
                        <p class="card-text">Email : @Model.Candidates[index].Email</p>
                        
                    

                    <div class="interaction d-flex justify-content-between mt-3">

                            <a class="carousel-control-prev" href="#candidateCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <i class="fas fa-times-circle"></i>
                                <span class="sr-only">Dislike</span>
                            </a>
                        
                        <a class="carousel-control-next" href="#candidateCarousel" role="button" data-slide="next" onclick="likeCandidateClicked()">
                            <i class="fas fa-heart"></i>
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            
                            <span class="sr-only">Like</span>
                        </a>

                        
                        </div>
                    </div>
                </div>
                
            </div>
            
        }
    </div>


            <a class="carousel-control-prev" href="#candidateCarousel" onclick="dislikeCandidateClicked(@index)" role="button" data-slide="next">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#candidateCarousel" onclick="likeCandidateClicked(@index)" role=" button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
             </a>
        }
    </div>

  
</div>

@*section Styles{
        <link rel="stylesheet" href="../wwwroot/css/jobOffers.css">

}*@



@section Scripts {
    @{

        <script src="~/js/employerInteraction.js" defer asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    }


    <script>
        var candidatesData = @Html.Raw(JsonConvert.SerializeObject(Model.Candidates));
    </script>
}

