
@model DreamJob.BusinessLogic.Candidates.ViewModels.RegisterViewModel;

<h1>
    Register as a job seeker
</h1>

<form asp-action="Register" asp-controller="Candidate" method="post">
    <div class="form-group">
        <label asp-for="@Model.FirstName">Firstname</label>
        <input asp-for="@Model.FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname"/>
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm your password</label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="description-box">
        <label asp-for="CandidateDescription">Description about yourself</label>
        <textarea asp-for="CandidateDescription"> </textarea>
        <span asp-validation-for="CandidateDescription" class="text-danger"></span>
        </div>
     </div>

    <div class="form-group">
        <label asp-for="Linkedin">Linkedin Account</label>
        <input asp-for="Linkedin" />
        <span asp-validation-for="Linkedin" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="SelectedSkillIds" class="control-label">Skills</label>
        <select asp-for="SelectedSkillIds" class="form-control" multiple="multiple">
           <option value="">-- Select Skill --</option>
            @foreach (var skill in Model.Skills)
            {
                <option value="@skill.Value">@skill.Text</option>
            }
        </select>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        if (ViewData.ModelState[string.Empty] != null)
        {
                    <div class="errror-summary">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                                <div class="error-item text-danger">
                        @error.ErrorMessage
                                </div>
                }
                    </div>
        }
    }

    <div>
        <input type="submit" value="Register" class="btn btn-primary"/>
    </div>

    <div>
        <a asp-action="Login" asp-controller="User">Back</a>
    </div>
</form>
