@model DreamJob.BusinessLogic.Candidates.ViewModels.UpdateCandidateViewModel;

<h1>
    Complete your profile and keep it updated!
</h1>

<form id="updateCandidate"
    asp-action="Update" asp-controller="Candidate">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="FirstName">Firstname</label>
        <input id="firstname" asp-for="FirstName" value="@Model.FirstName" />
    </div>

    <div>
        <label asp-for="Surname">Surname</label>
        <input id="surname" asp-for="Surname" />
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input id="email"  asp-for="Email" />
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input id="password"  asp-for="Password" />
    </div>

    <div>
        <label asp-for="CandidateDescription">Description about yourself</label>
        <textarea id ="description" asp-for="CandidateDescription"></textarea>
    </div>

    <div>
        <label asp-for="Linkedin">Linkedin Account</label>
        <input id="linkedin"  asp-for="Linkedin" />
    </div>

    <div>
        <button type="button" id ="add-study" class=" btn btn-success" onclick="addNewStudyRow()">Add Education</button>
        <button type="button" id="add-experience" class="btn btn-primary" onclick="addNewExperienceRow()">Add Work Experience </button>
    </div>

  
    <div id="studyContainer">
            <table class="table-bordered table table-hover table">
                <thead>
                    <tr>
                        <th>University</th>
                        <th>Specialty</th>
                        <th>Study period</th>
                    </tr>
                </thead>

                <tbody id="studies-table-body">
                    @foreach (var item in Model.Studies)
                    {
                        <tr class="study" data-id="@item.Id">
                            <td>
                                <span class="university-text">@item.University</span>
                                <input type="hidden" class="university-input form-control" value="@item.University" />
                            </td>
                            <td>
                                <span class="specialty-text">@item.Specialty</span>
                                <input type="hidden" class="specialty-input form-control" value="@item.Specialty" />
                            </td>
                            <td>
                            <span class="years-text">@item.StartYear.ToString("yyyy") - @item.EndYear.ToString("yyyy")</span>
                                <input type="hidden" class="startYear-input form-control" value="@item.StartYear.Year" />
                                <input type="hidden" class="endYear-input form-control" value="@item.EndYear.Year" />
                            </td>
                            <td>
                                <button type="button" class="remove-study-button btn btn-danger" onclick="removeStudy(this.closest('tr'))">Remove</button>
                                <button type="button" class="edit-study btn btn-primary" onclick="editStudy(this)">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

        </table>
    </div>
   


    <div id="workContainer">
            <table class="table-bordered table table-hover table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Working period</th>
                    </tr>
                </thead>

                <tbody id="work-table-body">
                    @foreach (var item in Model.Experiences)
                    {
                        <tr class="work" data-id="@item.Id">
                            <td>
                                <span class="name-text">@item.ExperienceName</span>
                                <input type="hidden" class="name-input form-control" value="@item.ExperienceName" />
                            </td>
                            <td>
                                <span class="description-text">@item.ExperienceDescription</span>
                                <input type="hidden" class="description-input form-control" value="@item.ExperienceDescription" />
                            </td>
                            <td>
                                <span class="years-text">@item.StartYear - @item.EndYear</span>
                                <input type="hidden" class="startYear-input form-control" value="@item.StartYear.Year" />
                                <input type="hidden" class="endYear-input form-control" value="@item.EndYear.Year" />
                            </td>
                            <td>
                                <button type="button" class="remove-work-button btn btn-danger" onclick="removeWork(this.closest('tr'))">Remove</button>
                                <button type="button" class="edit-work btn btn-primary" onclick="editWork(this)">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    




    @if (!ViewData.ModelState.IsValid)
    {
        if (ViewData.ModelState[string.Empty] != null)
        {
            <div class="errror-summary">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                    <div class="error-item text-danger">
                        @error.ErrorMessage
                    </div>
                }
            </div>
        }
    }

    <div>
        <button type="submit" id="submitCandidate" class="btn btn-primary">Save</button>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Home">Back</a>
    </div>
</form>

                
@section Scripts {
    @{

        <script src="~/js/updateCandidate.js" defer asp-append-version="true"></script>
        <script src="~/js/utils.js" defer asp-append-version="true"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    }
}