@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json;
@model DreamJob.BusinessLogic.JobOffers.ViewModels.DisplayJobOffersViewModel

<div>
    <button class="btn btn-warning">Get employers with similar interests </button>
</div>


<div id="jobOfferCarrousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        @for(int index = 0; index < Model.JobOffersViewModel.Count; index++)
        {
            <div class="carousel-item @(index == 0 ? "active" : "")">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Employer : @Model.JobOffersViewModel[index].EmployerName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Job Description :  @Model.JobOffersViewModel[index].Description</h6>
                        <p class="card-text"> Office Location : @Model.JobOffersViewModel[index].OfficeLocation</p>
                        <p class="card-text">Salary : @Model.JobOffersViewModel[index].Salary</p>
                        <a class="card-link">Linkedin : @Model.JobOffersViewModel[index].EmployerLinkedin</a>


                        @if (@Model.JobOffersViewModel[index].JobSkills.Count > 0)
                        {
                            <ul class="card-text">
                                Skills needed :
                                @foreach (var skill in @Model.JobOffersViewModel[index].JobSkills)
                                {
                                    <li>@skill   </li>
                                }
                            </ul>
                        }
                       

                        <div class="interaction d-flex justify-content-between mt-3">

                            <a class="carousel-control-prev" href="#jobOfferCarrousel" role="button" data-slide="next" onclick="dislikeClicked(@index)">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <i class="fas fa-times-circle"></i>
                                <span class="sr-only">Dislike</span>
                            </a>

                            <a class="carousel-control-next" href="#jobOfferCarrousel" role="button" data-slide="next" onclick="likeClicked(@index)">
                                <i class="fas fa-heart"></i>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Like</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>   
        }
    </div>

</div>

@*
@section Styles{
        <link rel="stylesheet" href="../wwwroot/css/jobOffers.css">

}*@


                
@section Scripts {
    @{

        <script src="~/js/candidateInteraction.js" defer asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    }

    
   <script>
        var jobOffersData = @Html.Raw(JsonConvert.SerializeObject(Model.JobOffersViewModel));
    </script>
}

