@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json;
@model DreamJob.BusinessLogic.JobOffers.ViewModels.DisplayJobOffersViewModel

<div id="jobOfferCarrousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        @for(int index = 0; index < Model.JobOffersViewModel.Count; index++)
        {
            <div class="carousel-item @(index == 0 ? "active" : "")">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.JobOffersViewModel[index].Employer</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.JobOffersViewModel[index].Description</h6>
                        <p class="card-text">@Model.JobOffersViewModel[index].OfficeLocation</p>
                        <p class="card-text"><small class="text-muted">@Model.JobOffersViewModel[index].Salary</small></p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#jobOfferCarrousel" onclick="dislikeClicked(@index)" role="button" data-slide="next">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#jobOfferCarrousel" onclick="likeClicked(@index)" role=" button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
             </a>
        }
    </div>
    
</div>

@*
@section Styles{
        <link rel="stylesheet" href="../wwwroot/css/jobOffers.css">

}*@

    
                
@section Scripts {
    @{

        <script src="~/js/candidateInteraction.js" defer asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    }

    
   <script>
        var jobOffersData = @Html.Raw(JsonConvert.SerializeObject(Model.JobOffersViewModel));
    </script>
}

