@model DreamJob.BusinessLogic.JobOffers.ViewModels.DisplayJobOffersViewModel;

<div class="row">
    @for (int index = 0; index < Model.JobOffersViewModel.Count; index++)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name : @Model.JobOffersViewModel[index].Description</h5>
                    <p class="card-text">Employer  : @Model.JobOffersViewModel[index].EmployerName</p>
                    <p class="card-text">Office Location : @Model.JobOffersViewModel[index].OfficeLocation</p>
                    <p class="card-text">Salary : @Model.JobOffersViewModel[index].Salary</p>
                    <a onclick="deleteJobOffer(@Model.JobOffersViewModel[index].Id)" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @{
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/js/deleteJobOffer.js" defer asp-append-version="true"></script>
    }


}
